<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,256}</string>
                <key>spriteSourceSize</key>
                <string>{172,256}</string>
                <key>textureRect</key>
                <string>{{412,172},{172,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{162,4},{20,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{250,4},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,111}</string>
                <key>textureRect</key>
                <string>{{574,52},{256,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{254,250}</string>
                <key>spriteSourceSize</key>
                <string>{254,249}</string>
                <key>textureRect</key>
                <string>{{532,384},{254,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,330}</string>
                <key>spriteSourceSize</key>
                <string>{256,329}</string>
                <key>textureRect</key>
                <string>{{4,472},{256,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{772,4},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{202,4},{20,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mushroom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,59}</string>
                <key>textureRect</key>
                <string>{{650,4},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mushroom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,36}</string>
                <key>spriteSourceSize</key>
                <string>{18,36}</string>
                <key>textureRect</key>
                <string>{{46,4},{18,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pixelwall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{838,60},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{4,114},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{140,122},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{276,128},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{926,4},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{60,106}</string>
                <key>spriteSourceSize</key>
                <string>{59,106}</string>
                <key>textureRect</key>
                <string>{{4,30},{60,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{470,4},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{510,4},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,47}</string>
                <key>textureRect</key>
                <string>{{290,4},{22,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{18,34}</string>
                <key>textureRect</key>
                <string>{{90,4},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{546,4},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{718,4},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,23}</string>
                <key>textureRect</key>
                <string>{{346,4},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{408,4},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{872,4},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{33,13}</string>
                <key>textureRect</key>
                <string>{{4,4},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{822,4},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{57,28}</string>
                <key>textureRect</key>
                <string>{{584,4},{58,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{132,4},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,91}</string>
                <key>textureRect</key>
                <string>{{118,32},{74,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{84,144}</string>
                <key>spriteSourceSize</key>
                <string>{83,143}</string>
                <key>textureRect</key>
                <string>{{318,36},{84,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,91}</string>
                <key>textureRect</key>
                <string>{{218,34},{80,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{470,40},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,180}</string>
                <key>spriteSourceSize</key>
                <string>{288,180}</string>
                <key>textureRect</key>
                <string>{{676,196},{288,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,206}</string>
                <key>spriteSourceSize</key>
                <string>{256,206}</string>
                <key>textureRect</key>
                <string>{{4,258},{256,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,276}</string>
                <key>spriteSourceSize</key>
                <string>{512,275}</string>
                <key>textureRect</key>
                <string>{{268,642},{512,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{245,256}</string>
                <key>textureRect</key>
                <string>{{268,352},{246,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>world.png</string>
            <key>size</key>
            <string>{982,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e010cdd89f36831a9c4892cc5c9e1cb3:1e2575a459bcbd2c69f0704bb223910d:cf3694a55997df12b61c9b9981d2d38c$</string>
            <key>textureFileName</key>
            <string>world.png</string>
        </dict>
    </dict>
</plist>
