<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>drunkflyer/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,16}</string>
    <key>spriteSourceSize</key>
    <string>{22,16}</string>
    <key>textureRect</key>
    <string>{{96,134},{22,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,16}</string>
    <key>spriteSourceSize</key>
    <string>{22,16}</string>
    <key>textureRect</key>
    <string>{{96,134},{22,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,16}</string>
    <key>spriteSourceSize</key>
    <string>{22,16}</string>
    <key>textureRect</key>
    <string>{{96,134},{22,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,16}</string>
    <key>spriteSourceSize</key>
    <string>{22,16}</string>
    <key>textureRect</key>
    <string>{{96,134},{22,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{99,98},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{46,134},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{124,80},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{71,134},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{124,98},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{97,116},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{47,116},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{115,54},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{72,116},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{123,22},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{99,80},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{23,16}</string>
    <key>textureRect</key>
    <string>{{21,134},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,24}</string>
    <key>textureRect</key>
    <string>{{2,28},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,24}</string>
    <key>textureRect</key>
    <string>{{2,2},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,18}</string>
    <key>textureRect</key>
    <string>{{59,2},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,18}</string>
    <key>textureRect</key>
    <string>{{59,2},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,18}</string>
    <key>textureRect</key>
    <string>{{59,2},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,18}</string>
    <key>spriteSourceSize</key>
    <string>{23,18}</string>
    <key>textureRect</key>
    <string>{{59,2},{23,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{21,80},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{63,54},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{84,2},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{97,22},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{21,98},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{47,80},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{73,98},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{21,116},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{110,2},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{47,98},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{73,80},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,16}</string>
    <key>spriteSourceSize</key>
    <string>{24,16}</string>
    <key>textureRect</key>
    <string>{{89,54},{24,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{15,4}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{63,72},{15,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,9}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{136,2},{13,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,9}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{136,2},{13,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,8}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{114,40},{15,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{15,4}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{63,72},{15,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{36,2},{21,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{36,28},{21,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{19,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{2,54},{19,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{17,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{44,54},{17,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{17,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{78,22},{17,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{19,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{23,54},{19,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{13,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{140,54},{13,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{17,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{59,22},{17,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{17,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{2,80},{17,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{13,24}</string>
    <key>spriteSourceSize</key>
    <string>{21,24}</string>
    <key>textureRect</key>
    <string>{{2,106},{13,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,9}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{131,40},{13,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,8}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{97,40},{15,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{15,4}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{76,48},{15,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{19,14}</string>
    <key>spriteSourceSize</key>
    <string>{23,24}</string>
    <key>textureRect</key>
    <string>{{122,116},{19,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{19,14}</string>
    <key>spriteSourceSize</key>
    <string>{23,24}</string>
    <key>textureRect</key>
    <string>{{122,116},{19,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,9}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{122,132},{13,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,8}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{2,132},{15,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{15,4}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{59,48},{15,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{157,154}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
