<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bar_center.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{4,7}</string>
    <key>spriteSourceSize</key>
    <string>{4,7}</string>
    <key>textureRect</key>
    <string>{{227,52},{4,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bar_left.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{4,7}</string>
    <key>spriteSourceSize</key>
    <string>{4,7}</string>
    <key>textureRect</key>
    <string>{{239,52},{4,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bar_right.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{4,7}</string>
    <key>spriteSourceSize</key>
    <string>{4,7}</string>
    <key>textureRect</key>
    <string>{{233,52},{4,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_noise2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{2,2},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{252,239},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{252,273},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{347,97},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{286,239},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{347,63},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{202,289},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{252,307},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{286,273},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{320,307},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{347,199},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{347,131},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_rate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{320,239},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{347,165},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shopbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{286,307},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{302,189},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,5}</string>
    <key>spriteSourceSize</key>
    <string>{16,5}</string>
    <key>textureRect</key>
    <string>{{149,124},{16,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,16}</string>
    <key>spriteSourceSize</key>
    <string>{8,16}</string>
    <key>textureRect</key>
    <string>{{231,163},{8,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{65,51}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{77,132},{65,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,5}</string>
    <key>spriteSize</key>
    <string>{63,59}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{132,63},{63,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{73,59}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{132,2},{73,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{73,55}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{2,132},{73,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{215,163},{14,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,8}</string>
    <key>spriteSourceSize</key>
    <string>{18,8}</string>
    <key>textureRect</key>
    <string>{{207,52},{18,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{197,163},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,6}</string>
    <key>spriteSourceSize</key>
    <string>{15,6}</string>
    <key>textureRect</key>
    <string>{{132,124},{15,6}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,15}</string>
    <key>spriteSourceSize</key>
    <string>{6,15}</string>
    <key>textureRect</key>
    <string>{{241,163},{6,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{252,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{202,239},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,239},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{247,113},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{247,63},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{152,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,239},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{297,113},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{197,113},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{307,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{197,63},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{207,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{2,289},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{152,239},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,289},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_32.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{152,289},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,239},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>level_34.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{144,132},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,289},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{320,273},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{257,2},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{297,63},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{202,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{102,189},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{383,343}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
