<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>drunkflyer/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,64}</string>
    <key>spriteSourceSize</key>
    <string>{90,64}</string>
    <key>textureRect</key>
    <string>{{480,2},{84,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,64}</string>
    <key>spriteSourceSize</key>
    <string>{90,64}</string>
    <key>textureRect</key>
    <string>{{480,2},{84,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,64}</string>
    <key>spriteSourceSize</key>
    <string>{90,64}</string>
    <key>textureRect</key>
    <string>{{480,2},{84,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,64}</string>
    <key>spriteSourceSize</key>
    <string>{90,64}</string>
    <key>textureRect</key>
    <string>{{480,2},{84,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{84,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{480,68},{84,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{84,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{480,131},{84,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{86,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{340,424},{86,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{340,361},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{150,466},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-left-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{248,424},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{336,487},{84,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{432,361},{84,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{86,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{248,487},{86,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{248,361},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{438,198},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>drunkflyer/walk-right-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,61}</string>
    <key>spriteSourceSize</key>
    <string>{90,61}</string>
    <key>textureRect</key>
    <string>{{405,265},{90,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,96}</string>
    <key>spriteSourceSize</key>
    <string>{128,96}</string>
    <key>textureRect</key>
    <string>{{2,2},{128,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,96}</string>
    <key>spriteSourceSize</key>
    <string>{128,96}</string>
    <key>textureRect</key>
    <string>{{2,100},{128,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,69}</string>
    <key>spriteSourceSize</key>
    <string>{89,69}</string>
    <key>textureRect</key>
    <string>{{2,362},{89,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,69}</string>
    <key>spriteSourceSize</key>
    <string>{89,69}</string>
    <key>textureRect</key>
    <string>{{2,362},{89,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,69}</string>
    <key>spriteSourceSize</key>
    <string>{89,69}</string>
    <key>textureRect</key>
    <string>{{2,362},{89,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{89,69}</string>
    <key>spriteSourceSize</key>
    <string>{89,69}</string>
    <key>textureRect</key>
    <string>{{2,362},{89,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{313,265},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{346,198},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{150,332},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{2,295},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{221,99},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-left-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{248,198},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{150,399},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{388,69},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{90,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{388,2},{90,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{150,265},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{290,2},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-right-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,65}</string>
    <key>spriteSourceSize</key>
    <string>{96,65}</string>
    <key>textureRect</key>
    <string>{{150,198},{96,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{57,13}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{313,332},{57,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,34}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{93,459},{49,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,34}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{93,459},{49,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{57,30}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{405,328},{57,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{57,13}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{313,332},{57,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,96}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{132,2},{87,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{132,100},{87,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{75,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{2,198},{75,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,1}</string>
    <key>spriteSize</key>
    <string>{61,93}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{2,433},{61,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{65,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{319,99},{65,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{69,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{79,198},{69,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,1}</string>
    <key>spriteSize</key>
    <string>{49,94}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{497,265},{49,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,1}</string>
    <key>spriteSize</key>
    <string>{63,94}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{248,265},{63,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,0}</string>
    <key>spriteSize</key>
    <string>{67,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{221,2},{67,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{49,95}</string>
    <key>spriteSourceSize</key>
    <string>{87,96}</string>
    <key>textureRect</key>
    <string>{{93,362},{49,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,34}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{93,495},{49,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{57,30}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{221,166},{57,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shooter/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{57,13}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{290,84},{57,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-20}</string>
    <key>spriteSize</key>
    <string>{75,55}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{388,136},{75,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-20}</string>
    <key>spriteSize</key>
    <string>{75,55}</string>
    <key>spriteSourceSize</key>
    <string>{95,96}</string>
    <key>textureRect</key>
    <string>{{388,136},{75,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,34}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{428,456},{49,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{57,30}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{428,424},{57,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>walker/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{57,13}</string>
    <key>spriteSourceSize</key>
    <string>{57,34}</string>
    <key>textureRect</key>
    <string>{{290,69},{57,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{568,552}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
