<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,512}</string>
                <key>spriteSourceSize</key>
                <string>{344,512}</string>
                <key>textureRect</key>
                <string>{{824,344},{344,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{37,64}</string>
                <key>textureRect</key>
                <string>{{324,8},{40,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{41,64}</string>
                <key>textureRect</key>
                <string>{{500,8},{44,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{512,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,221}</string>
                <key>textureRect</key>
                <string>{{1148,104},{512,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{508,500}</string>
                <key>spriteSourceSize</key>
                <string>{508,498}</string>
                <key>textureRect</key>
                <string>{{1064,768},{508,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{512,660}</string>
                <key>spriteSourceSize</key>
                <string>{512,657}</string>
                <key>textureRect</key>
                <string>{{8,944},{512,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,70}</string>
                <key>textureRect</key>
                <string>{{1544,8},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{40,80}</string>
                <key>textureRect</key>
                <string>{{404,8},{40,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mushroom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{63,118}</string>
                <key>textureRect</key>
                <string>{{1300,8},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mushroom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,72}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{92,8},{36,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pixelwall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1676,120},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{8,228},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{280,244},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pixelwall4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{552,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,93}</string>
                <key>textureRect</key>
                <string>{{1852,8},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{120,212}</string>
                <key>spriteSourceSize</key>
                <string>{118,212}</string>
                <key>textureRect</key>
                <string>{{8,60},{120,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,54}</string>
                <key>textureRect</key>
                <string>{{940,8},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{1020,8},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{43,94}</string>
                <key>textureRect</key>
                <string>{{580,8},{44,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{36,68}</string>
                <key>spriteSourceSize</key>
                <string>{35,68}</string>
                <key>textureRect</key>
                <string>{{180,8},{36,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{1092,8},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,62}</string>
                <key>textureRect</key>
                <string>{{1436,8},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,45}</string>
                <key>textureRect</key>
                <string>{{692,8},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{107,48}</string>
                <key>textureRect</key>
                <string>{{816,8},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1744,8},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{68,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,25}</string>
                <key>textureRect</key>
                <string>{{8,8},{68,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{1644,8},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{116,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{1168,8},{116,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockred3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{264,8},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{148,184}</string>
                <key>spriteSourceSize</key>
                <string>{146,182}</string>
                <key>textureRect</key>
                <string>{{236,64},{148,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{168,288}</string>
                <key>spriteSourceSize</key>
                <string>{166,285}</string>
                <key>textureRect</key>
                <string>{{636,72},{168,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{160,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,181}</string>
                <key>textureRect</key>
                <string>{{436,68},{160,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12.5}</string>
                <key>spriteSize</key>
                <string>{192,188}</string>
                <key>spriteSourceSize</key>
                <string>{230,211}</string>
                <key>textureRect</key>
                <string>{{940,80},{192,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{576,360}</string>
                <key>spriteSourceSize</key>
                <string>{575,360}</string>
                <key>textureRect</key>
                <string>{{1352,392},{576,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,412}</string>
                <key>textureRect</key>
                <string>{{8,516},{512,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1024,552}</string>
                <key>spriteSourceSize</key>
                <string>{1024,550}</string>
                <key>textureRect</key>
                <string>{{536,1284},{1024,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeshape5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{492,512}</string>
                <key>spriteSourceSize</key>
                <string>{489,512}</string>
                <key>textureRect</key>
                <string>{{536,704},{492,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>world1.png</string>
            <key>size</key>
            <string>{1964,1844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e010cdd89f36831a9c4892cc5c9e1cb3:1e2575a459bcbd2c69f0704bb223910d:cf3694a55997df12b61c9b9981d2d38c$</string>
            <key>textureFileName</key>
            <string>world1.png</string>
        </dict>
    </dict>
</plist>
